        <div id="main-bg-container">
            <div id="content">
                <div class="vAlignTop">
                    <div class="loading" ng-show="loading">Loading&#8230;</div>
                    <div id="heading" style="border-bottom: 0px;"><a href back-button id="back-button"></a><span>Dashboard</span></div>
                    
                    <div class="scrollFix">
                        
                        <div style="margin-top: 40px;" ng-hide="loading">
                        
                            <div style="text-align: center; word-break: break-all; padding: 10px; margin-bottom: 10px;">
                                <strong>Miner</strong><br>
                                {{wallet_address}}
                            </div>
                            
                            <div class="content_card">
                                <strong>Hash Rate</strong><br>
                                {{miner_stats.hashrate}}/sec
                            </div>
                            
                            <div class="content_card">
                                <strong>Paid</strong><br>
                                {{paid_formatted}} TRTL
                            </div>
                            
                            <div class="content_card">
                                <strong>Balance</strong><br>
                                {{balance_formatted}} TRTL
                            </div>
                            
                            <div class="content_card">
                                <strong>Last Share</strong><br>
                                {{miner_stats.lastShare | timeAgoLastShare}}
                            </div>
                            
                            <div class="content_card">
                                <strong>Submitted Hashes</strong><br>
                                {{miner_stats.hashes}}
                            </div>
                            
                            <div class="content_card">
                                <strong>Hash Rate Chart</strong><br>
                                <div id="chart"></div>
                            </div>
                        
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>