<div id="header">
    
    <div id="title_string"><strong>Pool Monitor</strong></div>
    <div id="main_menu_icons">
        <div id="dots_icon"><img src="img/dot-icon.png" height="25" width="25" id="context_menu_toggle"></div>
        <div id="refresh_icon"><a href="javascript:location.reload();"><img src="img/refresh-icon.png" height="25" width="25"></a></div>
    </div>
    <div style="clear: both;"></div>
    
    <div id="tab_bar">
        <a ng-href="#/dashboard/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/dashboard')">Dashboard</a>
        <a ng-href="#/pool/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/pool')">Pool</a>
        <a ng-href="#/payouts/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/payouts')">Payouts</a>
    </div>

</div>

<div id="context_menu" ng-hide="loading">
    <a href="#/home?reset=address">Change Pool or Wallet Address</a>
</div>

<div class="loading" ng-show="loading">Loading&#8230;</div>

<div class="content_section" ng-hide="loading">
    
    <div ng-show="has_results">
    
    <div class="long_address">
        <strong>Miner</strong><br>
        {{wallet_address}}
    </div>
    
    <div class="content_card">
        <strong>Hash Rate</strong><br>
        <span ng-show="miner_stats.hashrate.length > 1">
            {{miner_stats.hashrate}}/sec
        </span>
        <span ng-show="!miner_stats.hashrate">
            No active hashrate reported.
        </span>
    </div>
    
    <div class="content_card">
        <strong>Paid</strong><br>
        <span ng-show="miner_stats.paid > 1">
            {{paid_formatted}} TRTL
        </span>
        <span ng-show="!miner_stats.paid">
            No payments received from this pool.
        </span>
    </div>
    
    <div class="content_card">
        <strong>Balance</strong><br>
        <span ng-show="miner_stats.balance > 1">
            {{balance_formatted}} TRTL
        </span>
        <span ng-show="!miner_stats.balance">
            No balance for this pool.
        </span>
    </div>
    
    <div class="content_card">
        <strong>Last Share</strong><br>
        <span ng-show="miner_stats.lastShare > 1">
            {{last_share}}
        </span>
        <span ng-show="!miner_stats.lastShare">
            No shares submitted to this pool.
        </span>
    </div>
    
    <div class="content_card">
        <strong>Submitted Hashes</strong><br>
        <span ng-show="miner_stats.hashes > 1">
            {{miner_stats.hashes}}
        </span>
        <span ng-show="!miner_stats.hashes">
            No hashes submitted to this pool.
        </span>
    </div>
    
    <div class="content_card" ng-show="hashrate_chart.length > 0">
        <strong>Hashrate</strong><br>
        <div id="chart"></div>
    </div>
    
    </div>
    
    <div class="content_card" ng-hide="has_results" style="margin-top: 20px;">
        No data returned by pool for that wallet address.<br>
        <a href="#/home?reset=address">Try again?</a>
    </div>

</div>