        <div id="main-bg-container">
            <div id="content">
                <div class="vAlignTop stripesBg">
                    <div class="loading" ng-show="loading">Loading&#8230;</div>
                    <div id="heading" style="border-bottom: 0px;"><a href back-button id="back-button"></a><span>{{miner_stats.stats.hashes}}</span></div>
                    
                    <div class="scrollFix">
                        
                        Stuff...
                    
                    </div>
                </div>
            </div>
        </div>