<div id="homeContainer">

    <img src="img/home-logo.png" width="256" id="mainLogo">
    
    <div class="RobotoBold titleText">Select your pool</span><br><br>
    <select class="Roboto" id="poolApiUrl">
        <option value="http://us.turtlepool.space/api/" class="Roboto">Us.turtlepool.space</option>
        <option value="https://api.z-pool.com:8080/" class="Roboto">Z-pool.com</option>
        <option value="http://slowandsteady.fun:8119/" class="Roboto">Slowandsteady.fun</option>
        <option value="http://eu.turtlepool.space/api/" class="Roboto">Eu.turtlepool.space</option>
        <option value="http://hk.turtlepool.space/api/" class="Roboto">Hk.turtlepool.space</option>
        <option value="http://ny.minetrtl.us:8117/" class="Roboto">Ny.minetrtl.us</option>
        <option value="http://trtl.radicaldelta.org:8117/" class="Roboto">Trtl.radicaldelta.org</option>
        <option value="http://auspool.turtleco.in/api/" class="Roboto">Auspool.turtleco.in</option>
        <option value="https://xk.is/api/" class="Roboto">Xk.is</option>
        <option value="http://turtlecoinpool.ddns.net:8127/" class="Roboto">Turtlecoinpool.Ddns.Net</option>
        <option value="http://us.turtlepool.space/api/" class="Roboto">Pool.Turtleco.In</option>
        <option value="http://trtlpool.ninja/api/" class="Roboto">Trtlpool.Ninja</option>
        <option value="http://pool.trtl.me:8117/" class="Roboto">Pool.Trtl.Me</option>
        <option value="http://78.46.85.142:6229/" class="Roboto">Cryptoknight.cc</option>
        <option value="https://trtl.ninja/api/" class="Roboto">Trtl.Ninja</option>
        <option value="http://turtle-eu.atpool.party:8117/" class="Roboto">Atpool.party</option>
    </select>
    <br><br>
        
    <div class="RobotoBold titleText">Enter your wallet address</span><br><br>
        
    <input id="walletAddress" type="text" onblur="if (this.value == ''){this.value='Wallet address'}" onfocus="this.value=''" value="Wallet address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><br><br>
    
    <img src="./img/home-go-button.png" id="submitPool" height="36">

</div>