<div id="header">
    
    <div id="title_string"><strong>Pool Monitor</strong></div>
    <div id="main_menu_icons">
        <div id="dots_icon"><img src="img/dot-icon.png" height="25" width="25" id="context_menu_toggle"></div>
        <div id="refresh_icon"><a href="javascript:location.reload();"><img src="img/refresh-icon.png" height="25" width="25"></a></div>
    </div>
    <div style="clear: both;"></div>
    
    <div id="tab_bar">
        <a ng-href="#/dashboard/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/dashboard')">Dashboard</a>
        <a ng-href="#/pool/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/pool')">Pool</a>
        <a ng-href="#/payouts/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/payouts')">Payouts</a>
    </div>

</div>

<div id="context_menu" ng-hide="loading">
    <a href="#/home">Change Address</a>
</div>

<div class="loading" ng-show="loading">Loading&#8230;</div>

<div class="content_section" ng-hide="loading">
    
    <div class="long_address">
        <strong>Up to 30 Most Recent Payouts</strong><br>
    </div>
    
    <div class="content_card long_address" ng-repeat="payment in miner_payments" ng-show="miner_payments.length >= 1">
        <div>
            <div style="float: left; width: 45%; text-align: right;">
                {{payment.amount}} TRTL
            </div>
            <div style="float: right; width: 45%; text-align: left;">
                {{payment.time}}
            </div>
        </div><br>
        <a ng-href="https://turtle-coin.com/?hash={{payment.hash}}" target="_blank">{{payment.hash}}</a>
    </div>
    <div class="content_card" ng-show="miner_payments.length < 1">
        You have no payments yet from this pool.
    </div>

</div>