<div id="header">
    
    <div id="title_string"><strong>Pool Monitor</strong></div>
    <div id="main_menu_icons">
        <div id="dots_icon"><img src="img/dot-icon.png" height="25" width="25" id="context_menu_toggle"></div>
        <div id="refresh_icon"><a href="javascript:location.reload();"><img src="img/refresh-icon.png" height="25" width="25"></a></div>
    </div>
    <div style="clear: both;"></div>
    
    <div id="tab_bar">
        <a ng-href="#/dashboard/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/dashboard')">Dashboard</a>
        <a ng-href="#/pool/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/pool')">Pool</a>
        <a ng-href="#/payouts/{{pool_encoded}}/{{wallet_address}}" ng-class="getClass('/payouts')">Payouts</a>
    </div>

</div>

<div id="context_menu" ng-hide="loading">
    <a href="#/home?reset=address">Change Address</a>
</div>

<div class="loading" ng-show="loading">Loading&#8230;</div>

<div class="content_section" ng-hide="loading">
    
    <div class="long_address">
        <strong>Pool</strong><br>
        {{pool_name}}
    </div>
    
    <div class="grid">
        <div class="content_card col-1-2">
            <strong>Pool Fee</strong><br>
            {{pool_config.fee}}%
        </div>

        <div class="content_card col-1-2">
            <strong>Payment Threshold</strong><br>
            {{min_payment}} TRTL
        </div>
    </div>
    
    <div class="grid">
        <div class="content_card col-1-2">
            <strong>Miners</strong><br>
            {{pool_stats.miners}}
        </div>

        <div class="content_card col-1-2">
            <strong>Pool Hashrate</strong><br>
            {{pool_hashrate}}/sec
        </div>
    </div>
    
    <div class="grid">
        <div class="content_card col-1-2">
            <strong>Miners Paid</strong><br>
            {{pool_stats.totalMinersPaid}}
        </div>

        <div class="content_card col-1-2">
            <strong>Total Payments</strong><br>
            {{pool_stats.totalPayments}}
        </div>
    </div>
    
    <div class="long_address">
        <strong>Network</strong>
    </div>
    
    <div class="grid">
        <div class="content_card col-1-2">
            <strong>Difficulty</strong><br>
            {{network_stats.difficulty}}
        </div>

        <div class="content_card col-1-2">
            <strong>Height</strong><br>
            {{network_stats.height}}
        </div>
    </div>
    
    <div class="grid">
        <div class="content_card col-1-2">
            <strong>Reward</strong><br>
            {{block_reward}}
        </div>

        <div class="content_card col-1-2">
            <strong>Last Updated</strong><br>
            {{network_last_updated}}
        </div>
    </div>
    
    <div class="content_card">
        <strong>Pool Hashrate</strong><br>
        <div id="chart"></div>
    </div>

</div>