<div id="header">
    
    <div id="title_string"><strong>Pool Monitor</strong></div>
    <div id="main_menu_icons">
        <div id="dots_icon"><img src="img/dot-icon.png" height="25" width="25" id="context_menu_toggle"></div>
        <div id="refresh_icon"><a href="javascript:location.reload();"><img src="img/refresh-icon.png" height="25" width="25"></a></div>
    </div>
    <div style="clear: both;"></div>
    
    <div id="tab_bar">
        <div ng-class="getClass('/dashboard')" onclick="javascript:location.replace('#/dashboard');">Dashboard</div>
        <div ng-class="getClass('/pool')" onclick="javascript:location.replace('#/pool');">Pool</div>
        <div ng-class="getClass('/payout')" onclick="javascript:location.replace('#/payout');">Payout</div>
    </div>

</div>

<div id="context_menu" ng-hide="loading">
    <a href="#/home">Change Address</a>
</div>

<div class="loading" ng-show="loading">Loading&#8230;</div>

<div class="content_section" ng-hide="loading">
    
    <div class="long_address">
        <strong>Pool</strong><br>
    </div>

</div>