<div style="height: 79px; padding-top: 20px; margin: 0; background-color: #00843d; font-family: 'Roboto'; color: #fff;" id="header">
    
    <div style="float: left; padding-left: 20px;"><strong>Pool Monitor</strong></div>
    <div style="float: right; padding-right: 20px;">
        <div style="float: right; width: 25px;"><img src="/img/dot-icon.png" height="25" width="25"></div>
        <div style="float: right; width: 50px;"><img src="/img/refresh-icon.png" height="25" width="25"></div>
    </div>
    <div style="clear: both;"></div>
    
    <div id="tab_bar" style="margin-top: 20px;">
        <div style="float: left; width: 33%; font-family: 'Roboto'; text-align: center; border-bottom: 2px solid #fff; padding-bottom: 10px;">Dashboard</div>
        <div style="float: left; width: 33%; font-family: 'Roboto'; text-align: center;">Pool</div>
        <div style="float: left; width: 33%; font-family: 'Roboto'; text-align: center;">Payout</div>
        <div style="clear: both;"></div>
    </div>

</div>

<div id="content" style="background-color: #fafafa; height: 100%;">
    <div style="text-align: center; word-break: break-all; padding: 10px; margin-bottom: 10px;">
        <strong>Miner</strong><br>
        Test
    </div>
    
    <div class="content_card">
        <strong>Hash Rate</strong><br>
        Test
    </div>
</div>

        <!--div id="main-bg-container">
            <div id="content">
                <div class="vAlignTop">
                    <div class="loading" ng-show="loading">Loading&#8230;</div>
                    <div id="heading" style="border-bottom: 0px;"><a href back-button id="back-button"></a><span>Dashboard</span></div>
                    
                    <div class="scrollFix">
                        
                        <div style="margin-top: 40px;" ng-hide="loading">
                        
                            Test
                        
                        </div>
                    
                    </div>
                </div>
            </div>
        </div-->